<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Administración de Usuarios</title>
</head>

<body>
    <h1 align="center">Sistema de Administración de Usuarios</h1>
    <p>Bienvenido al Sistema de Administración de Usuarios.

        Desde aquí podrás gestionar todos los usarios registrados en la página.
    </p>
    <p align="center">
        <a href="/users/usersList"><button> Listado de usuarios</button></a>
        <a href="/users/createUser"><button> Añadir usuario</button></a>
    </p>
</body>
</html>